html
body {
    width: 100%;
    overflow: hidden;
}

:root {
    --minWide: min(100vh, 100vw);
    --matrixSize: 90%;
}

.particle{
    position: absolute;
    top: 0;
    right: 0;
    width: var(--minWide);
    height: var(--minWide);
    background-color: black;
    float: right;
}

#particleCanvas {
    width: 100%;
    height: 100%;
}

.siteMenu {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 25px;
    width: calc(100vw - var(--minWide));
    height: auto;
    display: inline-block;
    margin-left: 25px;
}

#matrices {
    position: relative;
    width: 100%;
    height: auto;

}

.cMatrix {
    position: relative;
    width: 45%;
    height: 0;
    padding-bottom: 45%;
    background-color: black;

    display: block;
}

#forceMatrix {
    float: left;
    left: auto;
    margin-left: calc(3.3% - 25px);
}

#mutationMatrix {
    float: right;
    right: auto;
    margin-right: calc(3.3% + 25px);
}

#mutateMatrixTopBar,
#forceMatrixTopBar {
    z-index: 2;
    position: absolute;
    width: 90%;
    height: 10%;
    right: 0;
    top: 0;
}

#mutateMatrixSideBar,
#forceMatrixSideBar {
    z-index: 2;
    position: absolute;
    width: 10%;
    height: 90%;
    left: 0;
    bottom: 0;
}

#mutateMatrixCanvas,
#forceMatrixCanvas {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 90%;
}

@media (max-width: 900px) {

    .particle {
        width: 100%;
        top: 0;
        left: 0;
       } 
    .siteMenu {
        width: 100%;
        margin-top: 100vw;
        margin-left: 0;
        text-align: center;
    }

    #forceMatrix {
        float: left;
        left: auto;
        margin-left: 3.3%;
    }
    
    #mutationMatrix {
        float: right;
        right: auto;
        margin-right: 3.3%;
    }
   
}